<div class="center hero-unit">
  <h1>A* Search</h1>

 <p>
 	A* Search is a search algorithm to find the cheapest path from point A to point B. A* search first  is fairly similar to greedy search in that it picks the best path but differs because it also takes into account the previous distance. A common every day AI that could use A* search is a GPS, global positioning system.
 </p>
  
 
 
 
     <%= link_to "A* Search", '/help' , class: "btn btn-primary"%> 
  
</div>
 