<% provide(:title, 'Events') %>

 
   
 <% @events.each do |event| %>
 	<h2>
 		<%= link_to event.name, event %>  </h2>
 		Event Day: <b><%= event.dayof %>  </b>
	 Description:
		<p> <%= simple_format event.description %></p>
 
      
      

 
 
   
  <% end %>


